{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<body>
  <div class="header">
	<h1>Treenipäiväkirja</h1>
  </div>
  <nav>
    <ul>
      <li><a href="#">Vuosi 2022</a</li>
    </ul>
  </nav>

  <div class="content">
  <h2>Tallennettujen treenien määrä: {{ count }}

    <ul>
      {% for exercise in exercises %}
      <li><a href="/exercise/{{ exercise.id }}">{{ exercise.name }}</a>
      {% endfor %}
    </ul>

    <a href="/add">Lisää harjoitus</a></h2>
    <a href="/logout">Kirjaudu ulos</a> 
  </div>

{% endblock %}