{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<body>
  <div class="header">
	<h1>Treenipäiväkirja</h1>
  </div>
  <nav>
    <ul>
      <h3> Tervetuloa! Olet sivun {{ counter }}. käyttäjä.</h3>
    </ul>
  </nav>

  <div class="content">
  
  <h2>Tallennettujen treenien määrä: {{ count }}</h2>
    <ul>
      {% for exercise in exercises %}
      <li><a href="/exercise/{{ exercise.id }}">{{ exercise.name }}</a>
      {% endfor %}
    </ul>

  <h2>Omat treenit: {{ my_count }}</h2>
    <ul>
      {% for exercise in my_exercises %}
      <li><a href="/exercise/{{ exercise.id }}">{{ exercise.name }}</a>
      {% endfor %}
    </ul>

    <a href="/add">Lisää harjoitus</a>
    <p>
    <a href="/logout">Kirjaudu ulos</a> 
  </div>

{% endblock %}