{% extends "layout.html" %}
{% block title %}Rekisteröinti{% endblock %}
{% block content %}

<h2>Rekisteröinti</h2>

<form action="/register" method="post">
    Tunnus: <br><input type="text" name="username" minlength="2" maxlength="20">
    <p>
    Salasana: <br><input type="password" name="password1">
    <p>
    Salasana uudestaan: <br><input type="password" name="password2">
    <p>
    Käyttäjärooli:
    <p>
    <select name="role">
        <option value=1> käyttäjä
        <option value=2> ylläpitäjä
    </select>
    <p>
    <input type="submit" value="Luo tunnus">
</form>

<p>
<a href="/">Palaa takaisin</a>
{% endblock %}